.button-style
{
    vertical-align:center; 
    font-size:18;
    margin-left:10px;
    text-transform: none;
}


.label-style
{
    font-size:14;
    vertical-align: center;
}

.edit-style 
{
    width: 150px;
    font-size:16;
}