.button-style
{
    vertical-align:center; 
    font-size:18;
    margin-left:10px;
    text-transform: none;
}

.sentence-label 
{
    font-size:18;
    
    margin-left:10px
}

.action-menu-style 
{
    font-size: 14px;
    color: red;
}